#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-wrap: wrap;
}
.card{
  box-shadow: 2px 2px 4px gray;
  padding: 4px;
  width: 250px;
}
img{
  width: 90%;
  height: 250px;
}

