.App {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.template{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.oval{
  border:1px solid black;
  border-radius:50%;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.condition-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.horizontal-line {
  position: relative;
  width: 80px; 
  height: 1px;  
  background-color: black;
}

.horizontal-line.left {
  position: absolute;
  left: -80px;
  text-align: center;
}

.horizontal-line.right {
  position: absolute;
  right: -80px;
  text-align: center;
}

.vertical-line {
  position:absolute;
  top: 0;
  width: 1px; 
  height: 40px;  
  background-color:black;
}
.vertical-line-left{
  position: relative;
  top: -20px;
  left: 0px;
}
.vertical-line-right{
  position: relative;
  top:-20px;
  left: 80px;
  /* right:-50px; */
}
.vertical-line .leftinput{
  position: absolute;
  top: 40px;
  margin-left: -80px;
}
.vertical-line .rightinput{
  position: absolute;
  top: 40px;
  margin-left: -80px;
}
